<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Tony Nguyen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/custom.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Home</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<!-- <a href="#menu" class="menuToggle"><span>Menu</span></a> -->
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="https://tonynguyen-projects.herokuapp.com/">Projects</a></li>
											<!-- <li><a href="resume.pdf">Resume</a></li> -->
											<!-- <li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li> -->
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Tony Nguyen</h2>
							<p>Software Engineer<br />
							<br />
							 <a href="http://html5up.net"></a></p>
							<ul class="actions">
								<!-- <li><a href="#" class="button special">Activate</a></li> -->
							</ul>
						</div>
						<!-- <a href="#one" class="more scrolly">About Me</a> -->
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 special">
						<div class="inner">
							<header class="major">
								<h2 id="greeting">Hi, I'm Tony<br />
								</h2>
								<ul class="icons major">
								<!-- <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li> -->
								<li><img src="portrait.jpg" width="250" id="self-portrait"></li>
								<!-- <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li> -->
							</ul>
								<p>I am a web developer from the Bay Area. I enjoy building everything from small business sites to rich interactive apps. If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me <%= link_to 'here.', href='mailto:tonytnguyen94@gmail.com' %><br /><br />
								</p>
							</header>
							
						</div>
					</section>

					<section id="three" class="wrapper style2 special">
					<a href="https://tonynguyen-projects.herokuapp.com/" target='_blank'><h1 class="custom-header">Projects</h1></a>
					<a href="https://tonynguyen-projects.herokuapp.com/" target='_blank'><button class="btn btn-success">Check out more</button></a>
										<hr id="history-hr">
											

					<a href='https://patatap-clone-xd.herokuapp.com/' target='_blank'><img src="patatap-clone.png" class="projects"></a>
					<a href='https://tonynguyen-projects.herokuapp.com/' target='_blank'><img src="projects.png" class="projects"></a>
					<a href='https://finance-go.herokuapp.com' target='_blank'><img src="finance-go.png" class="projects"></a>
					<a href='http://codepen.io/tonyn4444/pen/PpMVvj' target='_blank'><img src="color-game.png" class="projects"></a>
					<a href='https://github.com/tonyn4444/weather-forecast-project' target='_blank'><img src="weather_forecast_full.png" class="projects"></a>
					<a href='https://www.github.com/tonyn4444/new-eden-faces-practice' target='_blank'><img src="newedenfaces.png" class="projects"></a>

					</section>




<!-- <section id="three" class="wrapper style2 special">
<div class="inner">
              <header class="major">
                <h2 class="custom-header">Education/Employment History</h2>
                <p><br />
                </p>
              </header>
              </div>
              </section> -->
				<!-- Two -->
					<section id="two" class="wrapper alt style2">

					<h2 class="custom-header">Education/Employment History</h2>
					<hr id="history-hr">
						<section class="spotlight">
							<div class="image"><img src="morganstanley.png" alt="" /></div><div class="content">
								<h2>Global Wealth Management Intern<br />
								</h2>
								<p>For a period of three months, I interned under Morgan Stanley's Vice President of Global Wealth Management in Sacramento. During my internship, I anaylzed various market sectors and then conducted stock pitches on the sectors and companies that I believed would perform best for a particular quarter. I learned how one of Morgan Stanley's top financial advisors approached portfolio management, retirement services, and how MS applied different investment strategies in order to minimize risk and raise capital for their clients.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="pls21.jpg" alt="" /></div><div class="content">
								<h2>Applications of Computers and Technology<br />
								Teaching Assistant</h2>
								<p>One of my favorite experiences as a UC Davis undergraduate was working as a teaching assistant for a computer software course. As a teaching assistant, I developed my own lesson plans, managed other staff members, and taught in front of up to 50 students at a time. I'm so grateful that I had the opportunity to work as a teaching assistant because it really helped me overcome my fear of public speaking, consistently pushed me out of my comfort zone, and truly helped me grow as an individual.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="devbootcamp.png" alt="" /></div><div class="content">
								<h2>Dev Bootcamp Graduate<br />
								</h2>
								<p>I gained and learned so many skills during my experience at DBC. The program really showed me how to approach programming problems effectively. It also improved my ability to research and anaylze problems through multiple approaches before finally determining which solution would be most optimal for the problem at hand. Through DBC, I learned the importance of applying best practices and programming conventions within the industry-- From utilizing proper git workflow, and appyling agile methodologies when collaborating in groups, to the importance of implementing a strong testing suite and being able to write code that other programmers could understand and contribute to. </p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="ucdavis.png" alt="" /></div><div class="content">
								<h2>University of California, Davis Graduate<br />
								</h2>
								<p> I'm sure everyone who attended college knows how difficult it can be when trying to effectively balance time between studying, working, all while trying to maintain a social life. These experiences really showed me the importance not taking anything for granted and making every second of the day count. My undergraduate experience at UC Davis had a huge impact on my life, and I'm truly grateful for being able to attend such an amazing school.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<!-- <section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Projects</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section> -->

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Projects</h2>
								<p>For more information.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="https://tonynguyen-projects.herokuapp.com/" target="_blank"class="button fit special">Projects</a></li>
								<li><a href="resume.pdf" target="_blank" class="button fit">Resume</a></li>
							</ul>
						</div>
					</section>

				

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>