<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Tony Nguyen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/custom.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Home</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="/projects">Projects</a></li>
											<li><a href="resume.pdf">Resume</a></li>
											<!-- <li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li> -->
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Tony Nguyen</h2>
							<p>Software Engineer<br />
							<br />
							 <a href="http://html5up.net"></a></p>
							<ul class="actions">
								<!-- <li><a href="#" class="button special">Activate</a></li> -->
							</ul>
						</div>
						<a href="#one" class="more scrolly">About Me</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 special">
						<div class="inner">
							<header class="major">
								<h2>Hi, I'm Tony<br />
								</h2>
								<ul class="icons major">
								<!-- <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li> -->
								<li><img src="portrait.jpg" width="250" id="self-portrait"></li>
								<!-- <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li> -->
							</ul>
								<p>I recently graduated from the University of Califoria, Davis with a degree in Managerial Economics. After graduating, I fell in love with coding and decided to pursue a career in software development. I then enrolled in and graduated from the web development school, Dev Bootcamp located in San Francisco. <br /><br />
								I am proficient in the languages JavaScript and Ruby, but am also comfortable writing in Swift. I also have a bit of experience with Python, R, and Java. Some of the technologies that I am experienced in are React.js, Redux, Flux, Rails, ES5 and ES6, RSpec, Bootstrap, and more. I love learning and am always exploring new technologies during my free time. </p>
							</header>
							
						</div>
					</section>


<section id="three" class="wrapper style2 special">
<div class="inner">
              <header class="major">
                <h2 class="custom-header">Education/Employment History</h2>
                <p><br />
                </p>
              </header>
              </div>
              </section>
				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="morganstanley.png" alt="" /></div><div class="content">
								<h2>Global Wealth Management Intern<br />
								</h2>
								<p>I interned under Morgan Stanley's Vice President of Global Wealth Management in Sacramento, for a period of three months. During my internship, I learned how one of Morgan Stanley's top financial advisors approached portfolio management, retirement services, and how MS applied different investment strategies in order to minimize risk and maximize capital for their clients.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="pls21.jpg" alt="" /></div><div class="content">
								<h2>Applications of Computers and Technology<br />
								Teaching Assistant</h2>
								<p>One of my favorite experiences as a UC Davis undergraduate was working as a teaching assistant for one of our computer software courses. I'm so grateful that I had the opportunity to work as a teaching assistant because it really helped me overcome my fear of public speaking, consistently pushed me out of my comfort zone, and truly helped me grow as an individual.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="devbootcamp.png" alt="" /></div><div class="content">
								<h2>Dev Bootcamp Graduate<br />
								</h2>
								<p>I gained and learned so many skills during my experience at DBC. The program really showed me how to approach programming problems effectively. It also improved my ability to research and utilize the countless number of resources that are available to developers. DBC really emphasized the importance of applying best practices and programming conventions to our projects-- From utilizing proper git workflow and appyling agile methodologies when collaborating in groups, to the importance of testing and writing code that other programmers would be able to understand and contribute to. </p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="ucdavis.png" alt="" /></div><div class="content">
								<h2>University of California, Davis Graduate<br />
								</h2>
								<p>My undergraduate experience at UC Davis had a huge impact on my life, and I'm truly grateful for being able to attend such an amazing school. I'm sure everyone who attended college knows how difficult it can be when trying to effectively balance time between studying, working, all while trying to have a social life (not to mention sleep). These experiences really forced me to grow, and showed me the importance of making every second of the day count and not taking anything for granted.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<!-- <section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Projects</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section> -->

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Projects</h2>
								<p>Check out some of the projects I've been working on.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="/projects" class="button fit special">Projects</a></li>
								<li><a href="resume.pdf" class="button fit">Resume</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.twitter.com/tonytweetertwit" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
							<li><a href="https://www.linkedin.com/in/tony-t-nguyen" class="icon fa-linkedin-square"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.github.com/tonyn4444" class="icon fa-github"><span class="label">Dribbble</span></a></li>
							<li><a href="resume.pdf" class="icon fa-folder-open"><span class="label">Email</span></a></li>
							<li><a href="/projects" class="icon fa-code"><span class="label">Projects</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Tony Nguyen</li><!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>