<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Tony Nguyen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/custom.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Home</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="/projects">Projects</a></li>
											<!-- <li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li> -->
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Tony Nguyen</h2>
							<p>Software Engineer<br />
							<br />
							 <a href="http://html5up.net"></a></p>
							<ul class="actions">
								<!-- <li><a href="#" class="button special">Activate</a></li> -->
							</ul>
						</div>
						<a href="#one" class="more scrolly">About Me</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Hi, I'm Tony<br />
								</h2>
								<ul class="icons major">
								<!-- <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li> -->
								<li><img src="portrait.jpg" width="250" id="self-portrait"></li>
								<!-- <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li> -->
							</ul>
								<p>I'm a mostly self-taught software engineer that recently graduated from the University of Califoria, Davis with a degree in Managerial Economics. I also attended and graduated from the web development school Dev Bootcamp located in San Francisco. <br /><br />
								I am proficient in the languages JavaScript and Ruby. I am also comfortable writing in Swift, and have a bit of experience with Python, R, and Java. Some of the technologies that I am experienced in are React.js, Redux, Flux, Rails, ES5 and ES6, RSpec, Bootstrap, and more. I love learning and I'm always exploring new technologies during my free time. </p>
							</header>
							
						</div>
					</section>


<section id="three" class="wrapper style3 special">
<div class="inner">
              <header class="major">
                <h2 class="custom-header">Education/Employment History</h2>
                <p><br />
                </p>
              </header>
              </div>
              </section>
				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="morganstanley.png" alt="" /></div><div class="content">
								<h2>Global Wealth Management Intern<br />
								</h2>
								<p>I was fortunate enough to be an intern at the financial services company, Morgan Stanley. I interned under Morgan Stanley's VP of Global Wealth Management, Jeffrey Won in Sacramento for three months. During this period, I was able to learn how one of Morgan Stanley's top advisors approached portfolio management, retirement services, and the utilization of different strategies and theories in order to minimize risk and maximize capital gains for his clients.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="pls21.jpg" alt="" /></div><div class="content">
								<h2>Applications of Computers and Technology<br />
								Teaching Assistant</h2>
								<p>One of my favorite experiences as a UC Davis undergraduate was working as a teaching assistant for one of our computer software courses on campus. I'm so grateful that I had the opportunity to work as a teaching assistant because it really helped me overcome my fear of public speaking, consistently pushed me out of my comfort zone, and truly helped me grow as an individual.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="devbootcamp.png" alt="" /></div><div class="content">
								<h2>Dev Bootcamp Graduate<br />
								</h2>
								<p>I gained and learned so many skills during my experience at DBC. The program taught me how to approach problems effectively. It also taught me how to effectively research and utilize the different resources available to developers. It also exposed me to so many best practices, from utilizing proper git workflow and appyling agile methodologies when collaborating in groups, to the importance of testing and being able to write code that other programmers could understand and contribute to. </p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="ucdavis.png" alt="" /></div><div class="content">
								<h2>University of California, Davis Graduate<br />
								</h2>
								<p>My undergraduate experience at UC Davis was a huge part of my life and I'm truly grateful for being able to attend such an amazing school. I'm sure everyone who attended college knows how difficult it could be when trying to effectively balance between studying, working, and also trying to have a social life. These experiences really taught me the importance of making every second of the day count and taking nothing for granted. </p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<!-- <section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Projects</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section> -->

				<!-- CTA -->
				<!-- 	<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section> -->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.twitter.com/tonytweetertwit" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
							<li><a href="https://www.linkedin.com/in/tony-t-nguyen" class="icon fa-linkedin-square"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.github.com/tonyn4444" class="icon fa-github"><span class="label">Dribbble</span></a></li>
							<li><a href="resume.pdf" class="icon fa-folder-open"><span class="label">Email</span></a></li>
							<li><a href="/projects" class="icon fa-code"><span class="label">Projects</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Tony Nguyen</li><!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>