<!DOCTYPE html>
<html>
<head>
	<title>Project Journey</title>
</head>
<body>
	<a href='https://github.com/tonyn4444/weather-forecast-project' target='_blank'><img src="weather_forecast_full.png" class="projects"></a>
	<a href='http://finance-go.herokuapp.com' target='_blank'><img src="finance-go.png" class="projects"></a>
	<a href='https://github.com/tonyn4444/new-eden-faces-practice' target='_blank'><img src="newedenfaces.png" class="projects"></a>
	<a href='https://github.com/tonyn4444/youtube-search-project' target='_blank'><img src="youtube_search.png" class="projects"></a>
	<a href='http://codepen.io/tonyn4444/pen/PprmgQ' target='_blank'><img src="tribute.png" class="projects"></a>
	<a href='http://codepen.io/tonyn4444/pen/YZoMEg' target='_blank'><img src="photo-gallery.png" class="projects"></a>

</body>
</html>