<!DOCTYPE html>
<html>
  <head>
    <title>Tony Nguyen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <navbar>
    <%= yield %>
    <!-- Footer -->
          <footer id="footer">
            <ul class="icons">
              <li><a href="https://www.twitter.com/tonytweetertwit" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
              <li><a href="https://www.linkedin.com/in/tony-t-nguyen" class="icon fa-linkedin-square"><span class="label">Instagram</span></a></li>
              <li><a href="https://www.github.com/tonyn4444" class="icon fa-github"><span class="label">Dribbble</span></a></li>
              <li><a href="resume.pdf" class="icon fa-folder-open"><span class="label">Email</span></a></li>
              <li><a href="/projects" class="icon fa-code"><span class="label">Projects</span></a></li>
            </ul>
            <ul class="copyright">
              <li>&copy; Tony Nguyen</li><!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
            </ul>
          </footer>
  </body>
</html>
